body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%),
              linear-gradient(178.73deg, rgba(39, 135, 245, 0.18) -17.53%, rgba(163, 147, 245, 0.18) 131.74%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-white-text: #fff;
  --primary: #00a82d;
  --primary-hover: #008f26;
  --secondary: #737373;
  --secondary-hover: #333;

  --text-primary: #333;
  --text-secondary: #afafaf;

  --border: #e6e6e6;
  --border-accent: #008f2680;

  --background: #fff;
  --error: #ff7070;
}
